In [95]:
import zipfile
import pandas as pd
from IPython.display import display
import os

In [97]:
dataset_zip = "Total.csv.zip"

# Function to extract zip file
def extract_zip(zipped):
    try:
         # Open the zip file in read mode
        with zipfile.ZipFile(zipped, 'r') as zip_ref:
            # Extract all contents to the current directory
            zip_ref.extractall('./')
            print(f"Successfully extracted {zipped} here")
    except FileNotFoundError:
        print(f"Error: File {zipped} not found")
    except zipfile.BadZipFile:
        print(f"Error: Invalid file {zipped}")
    except Exception as e:
        print(f"An error occured: {e}")

 
extract_zip(dataset_zip)

Successfully extracted Total.csv.zip here

In [113]:
# Open the file
df = pd.read_csv('Total.csv', low_memory=False)
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,Not Provided,326373.19,326373.19,2011

In [101]:
# Function to search for an employee by name
def employee_function():
    # Ask user for Employee name
    name = input('Enter employee name: ')

    # Validates input
    if not name.strip():
        return None, "Error: No name entered."

    # Identifies name in data set
    match = df[df['EmployeeName'].str.lower() == name.strip().lower()]
    if not match.empty:
        row_data = match.iloc[0].to_dict()
        
        # Creates salary dictionary
        summary = {
            "Name": row_data.get('EmployeeName'),
            "Salary": row_data.get('TotalPayBenefits')
        }
        return match, summary
    else:
        return None, f"Employee '{name}' not found"

# Presents data and dictionary in user friendly way
table_data, salary_data = employee_function()
display(table_data)
print(salary_data)

Enter employee name:  PATRICK GARDNER

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

{'Name': 'PATRICK GARDNER', 'Salary': 326373.19}

In [103]:
# Save the variable table_data to a new CSV file and zip
table_data.to_csv('extract_data.csv', index=False)
with zipfile.ZipFile('extract_data.zip', 'w', zipfile.ZIP_DEFLATED) as zipf:
    zipf.write('extract_data.csv')

# Delete the CSV file after zipping it
os.remove('extract_data.csv')